<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>PizzaListController</display-name>
    <servlet-name>PizzaListController</servlet-name>
    <servlet-class>controller.PizzaListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PizzaListController</servlet-name>
    <url-pattern>/PizzaListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PizzaDetailController</display-name>
    <servlet-name>PizzaDetailController</servlet-name>
    <servlet-class>controller.PizzaDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PizzaDetailController</servlet-name>
    <url-pattern>/PizzaDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCartController</display-name>
    <servlet-name>ShoppingCartController</servlet-name>
    <servlet-class>controller.ShoppingCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartController</servlet-name>
    <url-pattern>/ShoppingCartController</url-pattern>
  </servlet-mapping>
  <display-name>Pizza</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckoutController</display-name>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>controller.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/CheckoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>controller.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandListController</display-name>
    <servlet-name>CommandListController</servlet-name>
    <servlet-class>controller.CommandListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandListController</servlet-name>
    <url-pattern>/CommandListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCommandStatusToReadyController</display-name>
    <servlet-name>UpdateCommandStatusToReadyController</servlet-name>
    <servlet-class>controller.UpdateCommandStatusToReadyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommandStatusToReadyController</servlet-name>
    <url-pattern>/UpdateCommandStatusToReadyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCommandStatusToDelivredController</display-name>
    <servlet-name>UpdateCommandStatusToDelivredController</servlet-name>
    <servlet-class>controller.UpdateCommandStatusToDelivredController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommandStatusToDelivredController</servlet-name>
    <url-pattern>/UpdateCommandStatusToDelivredController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LivreurController</display-name>
    <servlet-name>LivreurController</servlet-name>
    <servlet-class>controller.LivreurController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LivreurController</servlet-name>
    <url-pattern>/LivreurController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
</web-app>